#version=DEVEL
# System authorization information
auth --enableshadow --passalgo=sha512
# Install OS instead of upgrade
install
# Use CDROM installation media
cdrom
# Use text mode install
text
# Firewall configuration
firewall --disabled
# Run the Setup Agent on first boot
firstboot --enable
ignoredisk --only-use=sda
# Keyboard layouts
keyboard --vckeymap=us --xlayouts='us'
# System language
lang en_US.UTF-8
# SELinux configuration
selinux --disabled

# Network information
network  --bootproto=dhcp --device=link --onboot=off --noipv6 --no-activate
network  --hostname=localhost.localdomain

# Root password
rootpw --iscrypted $6$qZUn1adYz2wVpsnl$/bwV9ttB7HJpezSYbArzgZDNDgrJUsgevbYWaCO5bgMEGAYFwxxeBo2RrLSr8S4hXCEQKG3teIf0v.kNH2/UT1
# System services
services --disabled="chronyd"
# System timezone
timezone Asia/Seoul --isUtc --nontp
# System bootloader configuration
bootloader --location=mbr --boot-drive=sda
# Partition clearing information
clearpart --all --initlabel --drives=sda
# Disk partitioning information
%include /tmp/uefi
%include /tmp/legacy
# Reboot after installation
reboot --eject

%pre --logfile /tmp/kickstart.install.pre.log
if [ -d /sys/firmware/efi ] ; then
touch /tmp/legacy
else
touch /tmp/uefi
fi
if [ -d /sys/firmware/efi ] ; then
  cat >> /tmp/uefi <<END
part /boot/efi --fstype=“efi” --ondisk=sda --size=200 --fsoptions=“umask=0077,shortname=winnt” 
part /boot --fstype="ext4" --ondisk=sda --size=500
part pv.420 --fstype="lvmpv" --ondisk=sda --grow
volgroup rootvg --pesize=4096 pv.420
logvol swap  --fstype="swap" --size=4096 --name=swaplv --vgname=rootvg
logvol /  --fstype="ext4" --size=51200 --name=rootlv --vgname=rootvg
logvol /data --fstype="ext4" --size=1 --grow --name=datalv --vgname=rootvg
END
else
  cat >> /tmp/legacy <<END
part /boot --fstype="ext4" --ondisk=sda --size=500
part pv.420 --fstype="lvmpv" --ondisk=sda --grow
volgroup rootvg --pesize=4096 pv.420
logvol swap  --fstype="swap" --size=4096 --name=swaplv --vgname=rootvg
logvol /  --fstype="ext4" --size=51200 --name=rootlv --vgname=rootvg
logvol /data --fstype="ext4" --size=1 --grow --name=datalv --vgname=rootvg
END
fi
chvt 1
%end


%packages
@^minimal
@core
%end

%post
cat <<EOF > /root/init.sh
#!/bin/bash

curl -o install.sh http://jpsysgit.qoo10jp.net/jpsysadmin/public_share/raw/master/linux_script/centos7.sh
/usr/bin/bash install.sh
EOF

mkdir /root/network_setting

cat <<EOF > /root/network_setting/ifcfg-single
TYPE=Ethernet
BOOTPROTO=none
NAME=
DEVICE=
ONBOOT=yes
IPADDR=
PREFIX=
GATEWAY=
EOF

cat <<EOF > /root/network_setting/ifcfg-1
TYPE=Ethernet
BOOTPROTO=none
NAME=
DEVICE=
ONBOOT=yes
SLAVE=yes
MASTER=bond0
EOF

cp -a /root/network_setting/ifcfg-1 /root/network_setting/ifcfg-2

cat <<EOF > /root/network_setting/ifcfg-bond0
TYPE=Ethernet
BOOTPROTO=none
NAME=bond0
DEVICE=bond0
ONBOOT=yes
BONDING_OPTS="mode=4 miimon=100 xmit_hash_policy=layer2+3"
IPADDR=
PREFIX=
GATEWAY=
EOF

# ssh port setting
/bin/sed -i 's/^.Port 22$/Port 2222/g' /etc/ssh/sshd_config
/bin/sed -i 's/^.PermitRootLogin yes$/PermitRootLogin yes/g' /etc/ssh/sshd_config

# nameserver
echo 'nameserver 8.8.8.8' > /etc/resolv.conf

%end


# kdump disable
%addon com_redhat_kdump --disable --reserve-mb='auto'
%end
